html,
body
{
  align-items: center;
  background: #222;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#plateau
{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 90vmin;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 90vmin;
}

.case
{
  background: bisque;
  border: solid 3px bisque;
  border-radius: 10px;
  box-sizing: border-box;
  height: 18%;
  margin: 1%;
  width: 18%;
}

.bleue
{
  background: rgb(1, 49, 180);
}

.rouge
{
  background: rgb(165, 38, 10);
}

.noire
{
  background: #222;
}
